auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
fetch-retries=5
fetch-timeout=120000
network-concurrency=8
prefer-workspace-packages=true
link-workspace-packages=deep
provenance=true
verify-deps-before-run=false
manage-package-manager-versions=false
